* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator {
    grid-area: 2/2;
    background-color: black;
    min-width: 32%;
    min-height: 90%;
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    display: inline-grid;
    grid-template-rows: 20% 5% 15% 15% 15% 15% 15%;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
}

.result {
    grid-area: 1/span 4;
    width: 100%;
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: 100%;
    place-items: end;
}

.typeText {
    font-size: 30px;
    bottom: 35%;
    right: 6%;
}

.resultText {
    font-size: 20px;
    opacity: 50%;
    margin-bottom: 10px;
    right: 6%;
}

.space {
    grid-area: 2/span 4;
}

.buttons {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #111111;
    border: 0;
    font-size: 30px;
    transition: 0.3s;
}

.operator,
.specialOperator,
.reset {
    color: #35FF2F;
}

.reset {
    color: orangered;
    grid-area: 3/1;
}

.negate {
    grid-area: 7/1;
    color: white;
}

.zero {
    grid-area: 7/2;
}

.decimal {
    grid-area: 7/3;
}

.one {
    grid-area: 6/1;
}

.two {
    grid-area: 6/2;
}

.three {
    grid-area: 6/3;
}

#add {
    grid-area: 6/4;
}

.four {
    grid-area: 5/1;
}

.five {
    grid-area: 5/2;
}

.six {
    grid-area: 5/3;
}

#subtract {
    grid-area: 5/4;
}

.seven {
    grid-area: 4/1;
}

.eight {
    grid-area: 4/2;
}

.nine {
    grid-area: 4/3;
}

#multiply {
    grid-area: 4/4;
}

.space {
    justify-self: normal;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

hr {
    color: #202020;
    border: solid 1px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.delete {
    right: -81%;
    font-size: 10px;
    color: #009006;
    width: 50px;
    height: 25px;
    border: 1px solid green;
    background-color: black;
    text-align: center;
    transition: 0.8s;
}


.buttons:hover {
    background-color: #909090;
}

.equal {
    color: white;
    background-color: #009006;
    grid-area: 7/4;
    transition: 0.8s;
}

.equal:hover {
    background-color: #00DD09;
}

.add {
    grid-area: 6/4;
}

.minus{
    grid-area: 5/4;
}

.multiply {
    grid-area: 4/4;
}

.divide{
    grid-area: 3/4;
}

.percentage {
    grid-area: 3/3;
}

/* row start , column start , row end , column end */